.header {
    border-bottom: black double;
}

.header-text {
    font-size: 3em;
}
a.button7 {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    float: right;
}
a.button7:hover { background: rgb(53, 167, 110); }
a.button7:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}
.text_h2 {
    font-size: 1.4em;
}


body {
    margin:20px;
    background-color: #fafafa;
}

.text {
    font-size: 2em;
}

.error {
    font-size: 2em;
    color: red;
}

.success {
    font-size: 2em;
    color: greenyellow;
}

#1 {
    padding: 1em;
    margin: 1em 0;
    border: 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 1em;
    width: 95%;
}

input{
    padding: 1em;
    margin: 1em 0;
    border: 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 1em;
    width: 95%;
}


textarea {
    padding: 1em;
    resize: vertical;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    border-radius: 1em;
    width: 95%;

    height: 5em;
}